<% include partial/head %>
<% include partial/header %>
<div class="pure-u-1">
    <div class="l-box">
        <h1>Problem</h1>
        <h2>... page not found.</h2>
    </div>
</div>
<div class="content">
            
            <p>
            Sorry, we could not find the resource you wanted.
            </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>