<% include partial/head %>
<% include partial/header %>
<div class="pure-u-1">
    <div class="l-box">
        <h1>Artist Statement</h1>
        <h2>Senior Thesis Art Show, Georgetown Ky. Fall 2018</h2>
    </div>
</div>
<div class="content">
            
            <p>
                The pieces explore who my parents are, what journeys they have traveled, what decisions they have made. My father’s 
                attitude that commitment is temporary and marriage is not valued. He may love today, but he will be gone tomorrow. 
                My stepmother’s strength when giving extraordinary circumstances, her through the loss of her marriage, moving away 
                from her family, and the creation of a new home and new friends.
            </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>