<% include partial/head %>
<% include partial/header %>
<div class="pure-u-1">
    <div class="l-box">
        <h1>Exhibitions</h1>
    </div>
</div>
<div class="content">
        <div class="pure-u-1">
            <div class="l-box">
                <h2>Senior Thesis Art Show | Georgetown College</h2>
                <h3>Georgetown Ky. Fall 2018</h3>
            
                <p>
                    The pieces explore who my parents are, what journeys they have traveled, what decisions 
                    they have made. My father’s attitude that commitment is temporary and marriage is not 
                    valued. He may love today, but he will be gone tomorrow. My stepmother’s strength when 
                    giving extraordinary circumstances, her through the loss of her marriage, moving away 
                    from her family, and the creation of a new home and new friends.
                </p>
            </div>
        </div>

            <div class="pure-g">
                    <div class="photo-box pure-u-1-3">
                        <img class="pure-img-responsive" src="img/cup.png" alt="Tea Time">
                
                        <aside class="photo-box-caption">
                            <span>
                                Tea Time</a>
                            </span>
                        </aside>
                    </div>
                
                    <div class="photo-box pure-u-1-3">
                            <img class="pure-img-responsive" src="img/clock.png" alt="I'm Late">
                
                        <aside class="photo-box-caption">
                            <span>
                                I'm Late
                            </span>
                        </aside>
                    </div>
                
                    <div class="photo-box pure-u-1-3">
                            <img class="pure-img-responsive" src="img/flamingo.png" alt="Croquet in the Garden">
                
                        <aside class="photo-box-caption">
                            <span>
                                Croquet in the Garden
                            </span>
                        </aside>
                    </div>
                
                    <div class="photo-box pure-u-1-3">
                            <img class="pure-img-responsive" src="img/caterpiller.png" alt="Who Are You">
                
                        <aside class="photo-box-caption">
                            <span>
                                Who Are You
                            </span>
                        </aside>
                    </div>
                
                    <div class="photo-box pure-u-1-3">
                            <img sclass="pure-img-responsive" src="img/chairs.png" alt="No Room">
                
                        <aside class="photo-box-caption">
                            <span>
                                No Room
                            </span>
                        </aside>
                    </div>
                
                    <div class="photo-box pure-u-1-3">
                            <img class="pure-img-responsive" src="img/hat.png" alt="Mad Hatter">
                
                        <aside class="photo-box-caption">
                            <span>
                                Mad Hatter
                            </span>
                        </aside>
                    </div>

        <div class="pure-u-1">
            <div class="l-box">
                    <h2>Alumnit Art Show | Assumption High School</h2>
                    <h3>Louisville Ky. Fall 2018</h3>

                    <p>
                        In this show I presented six archival inkjet prints. Life is full of contradictions 
                        and craziness; so, too, is Alice in Wonderland. These six pieces, Tea Time, I’m Late, 
                        Croquet in the Garden, Who Are You, No Room, and Mad Hatter, use Wonderland as inspiration, 
                        telling parts of Alice’s story, but also reflecting some of the incongruities of life. My 
                        goal was to play with attractive, pale colors that make viewers happy. The soft colors 
                        contrast with the unpredictability of the story’s content.                   
                    </p>
            </div>
        </div>

        <div class="pure-g">
                <div class="photo-box pure-u-1-2">
                    <img class="pure-img-responsive" src="img/dad2.png" alt="Gone Tomorrow">
            
                    <aside class="photo-box-caption">
                        <span>
                            Gone Tomorrow</a>
                        </span>
                    </aside>
                </div>
                <div class="photo-box pure-u-1-2">
                        <img class="pure-img-responsive" src="img/dad.png" alt="Gone Tomorrow">
            
                        <aside class="photo-box-caption">
                            <span>
                                Gone Tomorrow</a>
                            </span>
                        </aside>
                </div>
                <div class="photo-box pure-u-1-2">
                        <img class="pure-img-responsive" src="img/strength.png" alt="She is Strength">
                
                        <aside class="photo-box-caption">
                            <span>
                                She is Strength</a>
                            </span>
                        </aside>
                </div>
                <div class="photo-box pure-u-1-2">
                        <img class="pure-img-responsive" src="img/strength2.png" alt="She is Strength">
                
                        <aside class="photo-box-caption">
                            <span>
                                She is Strength</a>
                            </span>
                        </aside>
                </div>
        </div>
            
    </div>
<% include partial/footer %>

<% include partial/end %>