<% include partial/head %>
<% include partial/header %>
<div class="pure-u-1">
  <div class="l-box">
    <h1>Hello, <%- user %></h1>
    <h2>... you are logged in!</h2>
  </div>
</div>
<div class="content">
            
  <p>
    You may access the confidential material.
  </p>

            
        </div>
        <% include partial/footer %>

<% include partial/end %>