<div id="layout">
    <div class="header">
        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading""">Portfolio</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/about" class="pure-menu-link">Artist Statement</a></li>
                <li class="pure-menu-item"><a href="/random" class="pure-menu-link">Quotes About Art</a></li>
                <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
                <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Log In</a></li>
                <li class="pure-menu-item"><a href="/subscribe" class="pure-menu-link">Subscribe</a></li>
                <li class="pure-menu-item"><a href="/confidential" class="pure-menu-link">Members Only</a></li>
            </ul>
        </div>
    </div>

    <div id="main">